<!DOCTYPE html>
<html>
<head>
	<title>gen_info</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://use.fontawesome.com/02e1362df4.js"></script>
	<script src="parallax.js-1.5.0/parallax.js"></script>
	<script type="text/javascript" src="template.js"></script>
	<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="template.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body autofocus>
	<div class="feedback">
		<div class="feedback_close">
			<ion-icon name="close" class="Close_feedback" style="font-size: 25px"></ion-icon>
		</div>
		<div class="feedback_body">
			<div class="feedback_heading">
				SMP FEEDBACK
			</div>
			<div class="feedback_subheading">
				This feedback helps us understand the performance of the SMP team along with the areas that can be improved upon, which will be passed on to the next team. We request you to take this up sincerely and thank you for your time. <br>
				Link to the form: <a href="" target="_blank">Click here</a>
			</div>
			</div>
	</div>
	<div class="home">
		<div class="menu menu1">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6 col col1">
						<ul>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="menu menu2">
			<!-- <i class="fa fa-times fa-3x Close" aria-hidden="true"></i> -->
			<ion-icon name="close" class="Close" style="position: absolute; top: 22vh; right: 1vw; font-size: 32px;"></ion-icon>
			<div class="col-sm-6 col2 col">
				<ul type="none" class="menu_list">
					<li><a href="template.html">Home</a></li>
					<li><a href="gen_info.html">General Information</a></li>
					<li>Academics</li>
					<li>Campus Life</li>
					<li>Extra-Curriculars</li>
					<li>Queries</li>
				</ul>
			</div>
		</div>
		<div class="topbar">
			<div class="burgericon">
				<!-- <i class="fa fa-bars fa-2x open" aria-hidden="true"></i> -->
				<ion-icon name="menu" class="open" style="font-size: 3vw; color: white"></ion-icon>
			</div>
		</div>
		<div class="gen_info">
			<div class="text">
				<div class="head">
					General Information
				</div>
				<div class="subhead">
					Test
				</div>
			</div>
		</div>
	</div>
	<div class="parallax-window" data-parallax="scroll" data-image-src="g4invert.gif" data-z-index="1">

	</div>
	<div class="next" style="height: 70vh;">
		<div class="card">
			
			<div class="card_head">
				<h2>Introduction</h2>
			</div>
			<div class="card_body">
				You will be joining IIT Bombay in a few weeks/days, depending on when you read this, and we hope you are looking forward to it. As you spend these days preparing for this new life, there are bound to be lots of questions in your mind. Many of you might already know a few seniors and would have gotten your queries resolved, while others may not have contacts. To address all your queries, whether academic or otherwise, the Student Mentor Program has set up this website. We have addressed almost all the important questions in this website, but it might not cover them all.

				In case you have any questions, you can comment via facebook on a relevant page and we will be happy to answer them!
			</div>
		</div>

		
	</div>
	<div class="parallax-window" data-parallax="scroll" data-image-src="g2.gif" data-z-index="1" style="min-height: 80vh">

	</div>
	<div class="next" style="height: 70vh;">
		<div class="card">
			<div class="card_head">
				<h2>The Must Haves - What to (NOT) get from home</h2>
			</div>
			<div class="card_body">
				This is probably the first time most of you will be moving away from home, and even for those who were away for coaching - this will be your first experience in setting up your rooms all by yourself. The rooms in campus are typically small in size and a little tight to accommodate, a fact that often shocks/scares parents, but then it encourages two things which will really benefit you in the long run :
				<br><br>
				1. Spending major chunks of time away from your room (except exam times :D)
				<br>
				2. Adjusting and all associated terms with your room-mate (who, as you will realize, might become one of the most important persons in your life)

				<div class="read_more">
					Read More
				</div>
			</div>
			<div class="read_more_modal">
				<ion-icon name="close" class="read_more_modal_close" style="font-size: 25px"></ion-icon>
				<div class="modal_text">
					From our experience, we bring to you a list of items - essentials and optionals. It may not be exhaustive but has most of the things. To make it easier, we've colour-coded the items for you :
					a) Red - Definitely must get from home.
					b) Blue - You may bring these if you already have them.
					c) Green - Best purchased from Mumbai.
					The rest are to your discretion.

					
					Happy Settling In!
				</div>
				
			</div>
		</div>
	</div>
	<div class="parallax-window" data-parallax="scroll" data-image-src="g3.gif" data-z-index="1" style="min-height: 80vh">

	</div>
	<div class="next" style="height: 70vh;">
		test
	</div>
</body>
</html>