<!DOCTYPE html>
<html>
<head>
	<title>template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://use.fontawesome.com/02e1362df4.js"></script>
	<script src="parallax.js-1.5.0/parallax.js"></script>
	<script type="text/javascript" src="template.js"></script>
	<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="template.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

</head>
<body>
	<div class="feedback">
		<div class="feedback_close">
			<ion-icon name="close" class="Close_feedback" style="font-size: 25px"></ion-icon>
		</div>
		<div class="feedback_body">
			<div class="feedback_heading">
				SMP FEEDBACK
			</div>
			<div class="feedback_subheading">
				This feedback helps us understand the performance of the SMP team along with the areas that can be improved upon, which will be passed on to the next team. We request you to take this up sincerely and thank you for your time. <br>
				Link to the form: <a href="" target="_blank">Click here</a>
			</div>
			</div>
	</div>
	<div class="home">
		<div class="menu menu1">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6 col col1">
						<ul>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
							<li>UPDATES OR NEWS MAY APPEAR HERE</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="menu menu2">
			<!-- <i class="fa fa-times fa-3x Close" aria-hidden="true"></i> -->
			<ion-icon name="close" class="Close" style="position: absolute; top: 22vh; right: 1vw; font-size: 32px;"></ion-icon>
			<div class="col-sm-6 col2 col">
				<ul type="none" class="menu_list">
					<li><a href="template.html">Home</a></li>
					<li><a href="gen_info.html">General Information</a></li>
					<li>Academics</li>
					<li>Campus Life</li>
					<li>Extra-Curriculars</li>
					<li>Queries</li>
				</ul>
			</div>
		</div>
		<div class="topbar">
			<div class="burgericon">
				<!-- <i class="fa fa-bars fa-2x open" aria-hidden="true"></i> -->
				<ion-icon name="menu" class="open" style="font-size: 3vw; color: white"></ion-icon>
			</div>
		</div>
		<div class="welcome">
			<div class="text">
				<div class="head">
					WELCOME TO IIT BOMBAY
				</div>
				<div class="subhead">
					This website has been made to introduce incoming freshers to the life at IIT Bombay. Explore this website and use it to make an informed choice about your college and department.
				</div>
			</div>
		</div>
	</div>
	<div class="parallax-window" data-parallax="scroll" data-image-src="g3.gif" data-z-index="1">

	</div>
	<div class="next" style="background-color: grey; height: 70vh;">
		test
	</div>
	<div class="parallax-window" data-parallax="scroll" data-image-src="gif1.gif" data-z-index="1" style="min-height: 80vh">

	</div>
	<div class="next" style="background-color: grey; height: 70vh;">
		test
	</div>
	<div class="parallax-window" data-parallax="scroll" data-image-src="gif5.gif" data-z-index="1" style="min-height: 80vh">

	</div>
	<div class="next" style="background-color: grey; height: 70vh;">
		test
	</div>
</body>
</html>